.global{
    height: 100%;
    background: #DDD;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    box-shadow: 10px 10px 12px -4px rgba(0,0,0,0.75);
 }
 .title {
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    margin-bottom: 35px;
    height: auto;
    background: #1C6758;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    margin-top: 50px;
 }
 .btnBack{
    position: absolute;
    left: 5%;
    top: 10%;
    width: 65px;
    height: 65px;
    border-style: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: #D6CDA4;
    color: #FFF;
 }
 .btnBack:hover {
   border: 1px solid black;
   color: #222;
 }
 .cardCreate form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    align-items: center;
 }
 .label{
   font-family: 'Lato', sans-serif;
 }
 .inputName{
    width: 51vh;
    height: auto;
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    align-items: flex-start;
    margin: 5px 20px 5px 20px;
 }

.labelStyle{
   font-family: 'Lato', sans-serif;
}
 
 .inputName input{
    width: 100%;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
 }
 .inputSummary{
   width: 51vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 20px 5px 20px;
 }
 .inputSummary textarea{
   width: 100%;
    height: 20vh;
    border-style: none;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
 }

.inputInstructions{
    width: 51vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 20px 5px 20px;
}
.inputInstructions textarea {
   width: 100%;
   height: 15vh;
   border-style: none;
   border-radius: 5px;
   font-size: 13px;
   font-family: 'Lato', sans-serif;
}
 
 .selectType{
    margin: 20px;
 }
 .selectType select{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 30vh;
    height: 40px;
    margin: 15px;
    text-align: center;
    /* border-style: none; */
    border-color: #3D8361;
    border-radius: 5px;
 }
 
 .listType ul{
    list-style: none;
    display: flex; 
 }
 .listType label{
    font-size: 20px;
 }
 .listType li{
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    padding: 0 5px 1px 5px;
 }
 .sumbitBtn{
   position: relative;
   top: 40px;
   left: 150px;
 }
 .submit{
   margin: 25px;
   padding: 5px;
    width: 120px;
    height: 45px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    background: #D6CDA4;
    color: #FFF;
 }
 
 .submit:hover{
   border: 1px solid black;
   color: #222;
 }