.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }
  .spinLoading{
     height: 70px;
    width: 70px;
    border: 6px solid #3FC1C936;
    display: inline-block;
    border-radius: 50%;
    border-top-color: #1C6758;
    animation-duration: 0.9s;
    animation-name: spin;
    animation-iteration-count: infinite;
  }
  
  @keyframes spin {
    to{
      transform: rotate(360deg);
    }
  }