.cardContainer{
    width: 260px;
    height: 350px;
    justify-content: center;
    flex-direction: row;
    margin: 8px 8px;
    border-radius: 10px;
    overflow: hidden;
 }
 
 .cardContainer:hover{
    box-shadow: 10px 10px 14px -6px rgba(0,0,0,0.67);
 }
 
 .link{
    text-decoration: none;
 }
 .link:link, .link:visited{
  color: black;
  text-decoration: none;
  text-align: center;
 }
 .link:hover, .link:active {
   color: #3D8361;
 }
 .nameContainer{
   display:flex;
    justify-content: center;
    align-items: center;
   margin-bottom: 15px;
 }
 .name{
    font-size: 16px;
    text-justify: distribute;  
    width: 260px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: capitalize;
 }
 h4{
   text-align: start;
   font-family: 'Quicksand', sans-serif;
   font-weight: 500;
 }
 .imageConatainer{
   width: fit-content;
   height: fit-content;
 }
 
 .image{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    max-height: 200px;
 }
.textContainer{
   display: flex;
   justify-content: flex-start;
   width: auto;
}
.dietsText{
   font-family: 'Lato', sans-serif;
   font-size: 15px;
   width: 250px;
}
 